@import './assets/Styles/SideBar.css';
@import './assets/Styles/backgrounds.css';
@import './assets/Styles/customs.css';

* {
    scroll-behavior: smooth;
}

.btn {
    cursor: pointer;
}

body.active-modal {
    overflow-y: hidden;
}

.card:hover .card-overlay {
    opacity: 1;
}